<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esb.mapper.RequestLogMapper">

    <select id="getLogPage" resultType="com.esb.entity.RequestLog">
        SELECT * FROM esb_request_log
        <where>
            <if test="serviceName != null and serviceName != ''">
                AND service_name = #{serviceName}
            </if>
            <if test="startTime != null">
                AND request_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                AND request_time &lt;= #{endTime}
            </if>
            <if test="statusCd != null">
                AND response_status = #{statusCd}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (request_id LIKE CONCAT('%', #{keyword}, '%')
                     OR request_url LIKE CONCAT('%', #{keyword}, '%')
                     OR error_message LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY request_time DESC
    </select>

</mapper>